@media (max-width: 1650px) {
    .header {
        padding-top: 0;
    }

    // Intro

    .intro {
        padding: 20px 0 20px;
    }
    .intro__star {
        width: 450px;
        left: 100px;
    }
    .intro__star-image {
        width: 100%;
        max-width: 100%;
    }
    .intro__main__title {
        font-size: 75px;
        margin-bottom: 30px;
    }
    .intro__main__box__image {
        width: 250px;
    }

    // About

    .about {
        padding: 120px 0 50px;
    }

    // Direction

    .direction {
        padding: 150px 0 60px;
    }

    // Features

    .features {
        padding: 120px 0 100px;
    }
    .features__line {
        gap: 40px;
        padding: 35px 10px;
    }
    .features__line__item {
        display: flex;

        &-image__wrapper {
            height: 100px;
            width: 160px;
        }

        &-content {
            margin-left: 25px;
            &-title {
                font-size: 62px;
            }
            &-text {
                font-size: 20px;
            }
        }
    }
    .about {
        overflow: hidden;
    }
    .about__bg-image {
        width: 800px;
        display: block;
        position: absolute;
        bottom: 0;
        right: -300px;
    }
}
@media (max-width: 1480px) {
    .intro__main__title {
        font-size: 68px;
        margin-bottom: 25px;
    }
    .intro__main__box {
        grid-gap: 20px;
    }
    .intro__main__box__image {
        width: 240px;
    }

    .about {
        padding: 145px 0 25px;
    }
    .about__box__item {
        width: 85px;
    }

    // Direction
    .direction {
        padding: 200px 0 50px;
    }
    .direction__item {
        width: 450px;
        max-width: 500px;
        height: 500px;
        border-radius: 30px;

        &__title {
            font-size: 67px;
        }
        &__text {
            font-size: 18px;
        }
    }
}
@media (max-width: 1410px) {
    .about__title {
        font-size: 70px;
    }
    .about__title--element__highlighter {
        background-size: auto 82%;
    }

    .features__title--element__highlighter {
        background-size: auto 80%;
        left: 0;
        right: 0;
    }
    .features__title {
        font-size: 70px;
        margin-bottom: 20px;
    }
    .features__line {
        gap: 30px;
        padding: 30px 10px;
    }
    .features__line__item {
        &-image__wrapper {
            height: 90px;
            width: 130px;
        }

        &-content {
            margin-left: 20px;
            &-title {
                font-size: 54px;
            }
            &-text {
                font-size: 18px;
            }
        }
    }
}
@media (max-width: 1180px) {
    .header__box {
        margin-right: 10px;

        padding: 9px 22px;
    }
    .header__box__logo {
        width: 145px;
        display: block;
    }
    .header__button {
        padding: 25px 20px;
    }
    .header__box__nav-link {
        padding: 8px 5px;
        margin-right: 25px;
    }
    .intro__main__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px;
    }
    .intro__main__box__image {
        max-width: 100%;
    }
    .intro__content__text {
        width: 330px;
        max-width: 100%;
        font-size: 18px;
    }

    .intro__main__title {
        font-size: 65px;
        margin-bottom: 30px;
    }

    .about__title {
        font-size: 62px;
    }
    .about__text {
        font-size: 18px;
    }
    .about__box__item {
        width: 85px;
    }
    .about__bg-image {
        width: 600px;
        display: block;
        position: absolute;
        bottom: 0;
        right: -250px;
    }
    .direction {
        padding: 100px 0 100px;
    }
    .direction__item {
        width: 400px;
        max-width: 400px;
        height: 450px;
        border-radius: 25px;

        &__title {
            font-size: 64px;
        }
    }
    .direction__item--second {
        margin-left: 70px;
        margin-top: 40px;
    }
    .features__title {
        font-size: 62px;
        margin-bottom: 20px;
        &--element__highlighter {
            height: auto;
            background-size: auto 80%;
        }
    }
    .features__line__item-content {
        display: flex;

        flex-direction: column;
        justify-content: center;
    }
    .features__line__item-image__wrapper {
        height: 80px;
        width: 120px;
    }
    .features__line__item-content-title {
        font-size: 40px;
    }
    .features__line__item-content-text {
        font-size: 15px;
    }
}

@media (max-width: 990px) {
    .header__button {
        display: none;
    }
    .header__box {
        padding: 17px 22px;
        margin-right: 0;
    }
    .header__box__nav-link {
        font-size: 15px;
    }
    .intro__content__text {
        width: 280px;
        max-width: 100%;
        font-size: 16px;
    }
    .intro__main__title {
        font-size: 52px;
    }
    .intro__content {
        padding-bottom: 25px;
    }
    .intro__content-wrapper {
        margin-right: 20px;
    }

    .intro__star {
        width: 400px;
        left: 70px;
    }

    .about__title {
        font-size: 58px;
        &-row {
            padding: 0 25px;
        }
        &--element__highlighter {
            background-size: auto 80%;
        }
    }

    .about__box__item {
        width: 80px;
    }

    .direction__item {
        width: 360px !important;
        max-width: 360px;
        height: 420px;
        border-radius: 22px;

        &__title {
            font-size: 54px;
        }
        &__text {
            font-size: 16px;
        }
        &--second {
            margin-left: 50px;
        }
    }
    .features {
        padding: 60px 0;
    }
    .features__title {
        font-size: 58px;
        &--element__highlighter {
            background-size: auto 83%;
            right: -9px;
        }
        &-row {
            padding: 0 25px;
        }
    }
    .features__subtitle {
        max-width: 640px;
        font-size: 18px;
    }
    .features__line-wrapper {
        // max-width: 550px;
        transform: rotate(0deg) !important;
        padding: 0 20px;
        margin: 60px auto 0;
    }
    .features__line {
        width: 100%;

        transform: translate(0);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        border-radius: 30px;
        padding: 30px 20px;

        &__item {
            justify-content: center;
            width: 33.333%;
            &-image__wrapper {
                max-height: 100%;
                height: 90px;
                width: 90px;
                border-radius: 50%;
            }
            &-image {
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
            }
            &-content-title {
                font-size: 30px;
            }
            &-content-text {
                max-width: 120px;
            }
        }
    }

    .footer {
        padding-top: 100px;
    }
}
@media (max-width: 880px) {
    .header__inner {
        padding: 25px 0 0;
    }

    .intro__star {
        z-index: -1;
        top: -35px;
        left: 55px;
    }
    .intro-wrapper {
        min-height: auto;
    }
    .intro {
        padding: 40px 0 80px;
    }
    .intro__main__title {
        font-size: 46px;
    }
    .intro__content {
        padding-bottom: 45px;
        &__text {
            width: 210px;
            max-width: 100%;
            font-size: 14px;
            &-row {
                display: inline;
                &--inner {
                    display: inline;
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
    .intro__content__button-wrapper {
        margin-top: 20px;
    }
    .intro__content__button {
        font-size: 17px;
    }
    .about {
        min-height: auto;
        padding: 150px 0 150px;
    }
    .about__title {
        background-color: transparent;
        &-row--inner {
            display: inline;
            transform: translateY(0);
        }
    }

    .about__bg-image {
        z-index: -1;
    }
    .direction {
        min-height: auto;
        padding: 110px 0 150px;
    }
    .direction__item {
        width: 310px !important;
        max-width: 340px;
        height: 390px;
        border-radius: 20px;
        &__title {
            font-size: 50px;
        }
        &__text {
            font-size: 15px;
        }
        &__inner {
            padding: 15px 20px 30px;
        }
    }
    .features {
        min-height: auto;
    }
    .features__title-row--inner {
        display: inline;
        transform: translateY(0);
    }
    .features__line-wrapper {
        max-width: 450px;
        margin: 45px auto 0;
    }
    .features__subtitle {
        font-size: 17px;
    }
    .features__line {
        flex-direction: column;
        &__item {
            width: auto;
            &-image__wrapper {
                height: 90px;
                width: 90px;
            }

            &-content-text {
                max-width: 120px;
            }
        }
    }
}
@media (max-width: 750px) {
    .container {
        padding: 0 62px;
    }
    .header__inner {
        padding: 40px 0 0;
    }
    .header__box {
        border: none;
        padding: 0;
        justify-content: start;
        position: relative;
        &__burger-wrapper {
            cursor: pointer;
            order: 1;
            display: block;
            margin-right: 30px;
        }
        &__nav {
            width: 100%;
            position: absolute;
            z-index: 2;
            top: 100%;
            padding: 20px 0;
            background-color: #fff;

            &-link {
                font-weight: 600;
            }
            &--desktop {
                display: none !important;
            }
        }
        &__logo {
            width: 180px;
            order: 2;
        }
    }
    .intro {
        padding: 0;
    }
    .intro__main {
        display: none;
    }
    .intro__main__box--mobile {
        display: block !important;
    }
    .intro__main__title--mobile {
        display: block;
    }
    .intro__star {
        top: 20px;
        left: 50px;
        width: 900px;
    }
    .intro__inner {
        flex-direction: column;
        padding: 150px 0 70px;
    }
    .intro__main__title {
        font-size: 70px;
        line-height: 1;
        font-weight: 600;
    }
    .intro__main__title--row {
        display: inline;
    }
    .intro__content-wrapper {
        justify-content: space-between;
        margin-right: 0;
    }
    .intro__content {
        padding-bottom: 70px;
        &__text {
            width: 310px;
            font-size: 20px;
        }
        &__button-wrapper {
            margin-top: 28px;
        }
        &__button {
            font-size: 20px;
        }
    }

    .intro__main__box__image {
        width: 270px;
    }

    .about {
        padding: 50px 0 130px;
    }
    .about__bg-image {
        width: 400px;
        display: block;
        position: absolute;
        bottom: 220px;
        right: -220px;
    }

    .about__text {
        font-size: 18px;
        margin-bottom: 70px;
        font-weight: 400;
    }
    .about__title {
        font-weight: 600;
        line-height: 1;
        margin-bottom: 20px;
        &-row {
            line-height: 0.96;
        }
        &--desktop {
            display: none;
        }
        &--mobile {
            display: block;
        }
        &--element__highlighter {
            background-size: 100% 100%;
        }
    }
    .direction {
        padding: 60px 0 50px;
    }
    .direction__inner {
        flex-direction: column;
        gap: 50px;
    }
    .direction__item {
        max-width: 100% !important;
        width: 100% !important;
        height: 610px;

        transform: rotate(0deg) !important;
        &__inner {
            padding: 20px 45px 50px;
        }
        &__title {
            font-size: 75px;
        }
        &__text {
            font-size: 20px;
        }
        &--second {
            margin: 0;
        }
    }

    .direction__bg-image {
        display: none;
    }

    .features__title {
        &--element__highlighter {
            background-size: 100% 100%;
            right: -9px;
        }
        &-row {
            line-height: 0.98;
        }
        &--desktop {
            display: none;
        }
        &--mobile {
            display: block;
        }
    }
    .features__subtitle {
        font-size: 18px;
        line-height: 1.6;
    }
    .features__line {
        justify-content: start;
        align-items: flex-start;
        gap: 60px;
        padding: 65px 40px;
    }
    .features__line-wrapper {
        width: 100%;
        max-width: 100%;
        margin: 70px auto 0;
        padding: 0 62px;
    }
    .features__line__item-image__wrapper {
        height: 135px;
        width: 135px;
    }
    .features__line__item-content {
        margin-left: 30px;
        &-title {
            font-size: 65px;
            margin-bottom: 10px;
        }
        &-text {
            max-width: 100%;
            font-size: 20px;
        }
    }
    .features__line__item {
        justify-content: start !important;
    }
}
@media (max-width: 660px) {
    .container {
        padding: 0 30px;
    }
    .header__box__burger-wrapper {
        width: 50px;
        height: 50px;
    }
    .intro__inner {
        padding: 130px 0 70px;
    }
    .intro__main__title {
        font-size: 60px;
        margin-bottom: 40px;
    }
    .intro__content {
        width: 50%;
        margin-right: 15px;
    }
    .intro__content__text {
        font-size: 16px;
    }
    .intro__main__box {
        width: 50%;
    }

    .about__title-row {
        line-height: 1;
        overflow: visible;
    }
    .about__bg-image {
        display: none !important;
    }
    .about__box__item {
        width: 70px;
    }
    .features__title {
        font-weight: 600;
    }
    .features__title-row {
        line-height: 1;
        overflow: visible;
    }

    .features__line-wrapper {
        margin: 60px auto 0;
        padding: 0 30px;
    }
    .features__line {
        justify-content: center;
        align-items: center;
        padding: 65px 45px;
        gap: 40px;
    }
    .features__line__item {
        width: 340px;
    }
    .features__line__item-image__wrapper {
        width: 120px;
        height: 120px;
    }
    .features__line__item-content {
        margin-left: 20px;
        &-title {
            font-size: 45px;
        }
        &-text {
            max-width: 200px;
            font-size: 18px;
        }
    }
}
@media (max-width: 550px) {
    .container {
        padding: 0 25px;
    }
    .header__box__burger-wrapper {
        margin-right: 20px;
    }
    .header__box__logo {
        width: 155px;
    }
    .header__box__nav {
        width: calc(100% + 50px);
        left: -20px;
        padding: 20px;
        flex-direction: column;

        &-link {
            margin-top: 10px;
            padding: 10px;
        }
    }
    .intro__star {
        width: 700px;
        top: 30px;
        left: -320px;
    }
    .intro__content {
        width: 45%;
        margin-right: 15px;
    }
    .intro__main__box {
        width: 55%;
    }
    .intro__main__title {
        font-size: 55px;
        margin-bottom: 100px;
    }
    .about {
        padding: 50px 0 40px;
    }
    .about__title {
        font-size: 48px;
    }
    .about__text {
        font-size: 14px;
    }
    .about__box__item {
        width: 56px;
    }
    .direction__item {
        height: 510px;

        &__title {
            text-align: center;
            font-size: 60px;
        }
        &__text {
            text-align: center;
            font-size: 16px;
        }
    }
    .direction__item__inner {
        padding: 20px 35px 40px;
    }

    .features__title {
        font-size: 48px;
    }
    .features__subtitle {
        font-size: 16px;
        line-height: 1.4;
    }

    .footer__text {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 25px;
    }
}
@media (max-width: 480px) {
    .header__box__burger-wrapper {
        margin-right: 20px;
    }
    .header__box__burger-wrapper {
        width: 45px;
        height: 45px;
    }
    .header__box__logo {
        width: 130px;
    }
    .intro__main__title {
        text-align: center;
        font-size: 48px;
        line-height: 1.1;
    }

    .intro__content-wrapper {
        width: 100%;
        flex-direction: column;
    }

    .intro__main__box {
        width: 100%;
        order: 1;
        margin-bottom: 40px;
        &__image {
            width: 100%;
            max-width: 270px;
            margin: 0 auto;
        }
    }
    .intro__content {
        text-align: center;
        order: 2;
        width: 100%;
        margin-right: 0;
        &__text {
            font-size: 18px;
            margin: 0 auto;
        }

        &__button-wrapper {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }

    .features__line-wrapper {
        padding: 0 25px;
    }
}

@media (max-width: 435px) {
    .container {
        padding: 0 20px;
    }
    .intro__main__title {
        font-size: 42px;
    }
    .intro__content {
        padding-bottom: 0;
        &__text {
            font-size: 16px;
        }
    }

    .about__title {
        font-size: 42px;
        &-row {
            padding: 0;
        }
    }
    .direction {
        padding: 20px 0;
    }
    .direction__inner {
        gap: 35px;
    }
    .direction__item {
        height: 450px;
        &__title {
            font-size: 48px;
        }
        &__text {
            font-size: 14px;
        }
    }
    .direction__item__inner {
        padding: 15px 20px 30px;
    }

    .features__title {
        font-size: 42px;
    }
    .features__title-row {
        padding: 0;
    }
    .features__subtitle {
        color: #000;
    }
    .features__line-wrapper {
        padding: 0;
    }
    .features__line {
        background-color: #fff;
        // align-items: start;
        padding: 0 20px;
        &__title {
            color: #000;
        }
    }
    .features__line__item {
        width: auto;
    }
    .features__line__item-content-title {
        font-size: 38px;

        color: #000;
    }
    .features__line__item-content-text {
        max-width: 120px;
        font-size: 14px;
        color: #000;
    }
    .features__line__item-image__wrapper {
        width: 88px;
        height: 88px;
    }
    .footer {
        padding-top: 0;
    }
    .footer__text--name-link {
        font-size: 20px;
    }
    .footer__text-link {
        font-size: 19px;
    }
}
